@include vendors-keyframes(fadein) {
    from {
        transform: scale(0.1);
        opacity: 0;
    }
    20% {
        transform: scale(1.2);
    }
    40% {
        transform: scale(0.6);
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@mixin fade-in($delay) {
    $duration: 2s;

    @include vendors("animation", "fadein #{$duration}");
    @include vendors("animation-delay", "#{$delay}");
    @include vendors("animation-fill-mode", "both");
    @include vendors("animation-timing-function", "ease-in-out");
}

$delays: 0s 0.5s 1s 1.5s 2s 2.5s 3s;
@each $delay in $delays {
    *[data-fade-in="#{$delay}"] {
        @include fade-in($delay)
    }
}

@include vendors-keyframes(spin) {
    from {
        @include vendors("transform", "rotate(0deg)");
        background-size: initial;
    }
    50% {
        @include vendors("transform", "scale(10) rotate(180deg)");
        @include vendors("filter", "contrast(2000%)")
    }
    to   {
        @include vendors("transform", "rotate(360deg)");
        background-size: initial;
    }
}

@mixin spin {
    @include vendors("animation", "spin 2s linear infinite");
}