// this sets the empty div that fills the whole screen a
// background image and set's it behind everything else
#background {
  background-image: url("IMG_20150310_2139456.jpg");
  background-color: black;
  background-size: cover;
  background-position: center;

  // This will definitely make it hidden behind everything
  z-index: -1;

  /* We will position our view to be slightly over the edge by 10vmin */
  position: fixed;
  @extend .full-screen;
}