// Because we position the image far into the left
// and right side, we need to hide the x overflow
// This cannot be put into #background because
// it is 120% width which will most definitely overflow
html, body {
  overflow-x: hidden;
}

// this sets the empty div that fills the whole screen a
// background image and set's it behind everything else
#background {
  background-image: url("IMG_20150310_2139456.jpg");
  background-color: black;
  background-size: cover;
  background-position: center;
  -webkit-filter: brightness(60%) ;

  // This will definitely make it hidden behind everything
  z-index: -1;

  /* We will position our view to be slightly over the edge by 10vmin */
  position: fixed;
  width: 100%;
  height: 100%;

  @include mobile {
    // On mobile, remove blur
    -webkit-filter: brightness(60%);
  }
}