$background_primary: black;

$background_secondary: rgba(0, 0, 0, 0.7);
$background_secondary_accent: rgba(0, 0, 0, 0.9);

$foreground_primary: #8BA5C3;
$foreground_secondary: #AFC1D6;
$foreground_accent: peachpuff;