$max-column-width: 768px;

// This doesn't really belong here but it's
// used by both heading and content and uses mixins::mobile
.content-width {
    max-width: $max-column-width;
    margin: 12px auto;

    @include mobile {
        margin: 12px;
    }
}

.content_card {
    @extend .content-width;

    color: $foreground_secondary;
    background-color: $background_secondary;
    border-radius: 4px;

    &:hover {
        background-color: $background_secondary_accent;
        transition: background-color 0.5s ease-in-out;
    }
}

.content_card_inner {
    padding: 32px;

    h2 {
        color: $foreground_primary;
        text-decoration: underline;
    }
}

a {
    color: $foreground_accent;
    text-decoration: none;
}

#navigation {
    text-align: center;
}

#navigation li {
    display: inline-block;
    list-style-type: none;
}

li {
    margin: 12px;
    margin-left: 18px;
}

p {
    margin-top: 12px;
    margin-bottom: 12px;
}