$max-column-width: 768px;

* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    overflow-x: hidden;
}

#background {
    background-image: url("IMG_20150310_2139453.jpg");
    background-color: black;
    background-size: cover;
    background-position: center;
    -webkit-filter: brightness(60%) blur(5px); // TODO: check compatability
    width: 120vw;
    height: 120vh;
    overflow: hidden;
    position: fixed;
    left: -10vw;
    top: -10vh;
    z-index: -1;
}

#title_container {
    width: 100%;
    background-color: black;
    display: inline-block;
    text-align: center;
}

#title {
    max-width: $max-column-width;
    margin-left: 8%;
    margin-right: 8%;
    display: inline-block;
    text-align: center;
    width: 100%;

    @include mobile-small {
        margin: auto;
    }
}

.header {
    color: #AFC1D6;
    text-align: left;
}

#my_face {
    float: left;
    background-image: url("./my_face.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: 12px;
    width: 20vh;
    height: 20vh;
    max-width: 100px;
    max-height: 100px;
    display: inline-block;

    @include mobile-small {
        float: none;
    }
}

.header_text {
    float: left;
    margin: 12px;
    text-align: left;

    @include mobile-small {
        float: none;
        text-align: center;
    }

    #my_name {
        height: 12vh;
        max-height: 60px;
    }

    #my_title {
        height: 8vh;
        max-height: 40px;
    }
}

#container {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
    padding: 0 15%;
    margin-left: auto;
    margin-right: auto;
    max-width: $max-column-width;

    @include mobile {
        padding: 0%;
    }
}

.content_card {
    color: #AFC1D6;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 980px;
    margin: 12px auto;
    padding: 48px;

    @include mobile {
        margin: 12px;
        padding: 4%;
    }
}

a {
    color: #AFC1D6;
}

#navigation {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

#navigation li {
    display: inline-block;
    list-style-type: none;
}

li {
    margin: 12px;
    margin-left: 18px;
}

p {
    margin-top: 12px;
    margin-bottom: 12px;
}