#landing {
    width: 100vw;
    height: 100%;
    background-color: $background_primary;
    text-align: center;
    color: $foreground_secondary;
    font-size: 160%;

    display: table;
}

#landing-inner {
    display: table-cell;
    vertical-align: middle;
}

#landing-name {
    font-size: 140%;
    color: $foreground_primary;
    font-weight: bold;
}

#landing-title {
    font-size: 120%;
    color: $foreground_primary;
    font-weight: bold;
}

#start-link {
    bottom: 5%;
    display: inline-block;
    position: absolute;
    transform: translateX(-50%);
}

#start-button {
    width: 80px;
    height: 80px;
    background-color: $foreground_primary;
    color: $foreground_accent;
    border-radius: 50px;
    text-align: center;
}

#start-button-text {
    position: relative;
    display: block;
    top: 50%;
    font-size: 200%;
    transform: translateY(-50%);
}


// Because there's a landing, we need to make sure
// for huge screens it doesn't consume it all
#content {
    min-height: 100vh;
}