#landing {
    width: 100vw;
    min-height: 100%;
    background-color: $background_primary;
    display: inline-block;
    text-align: center;
    color: $foreground_secondary;
    font-size: 160%;
}

#landing-name {
    font-size: 140%;
    color: $foreground_primary;
}

#landing-title {
    font-size: 120%;
    color: $foreground_primary;
}

#start-link {
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

#start-button {
    width: 80px;
    height: 80px;
    background-color: $foreground_primary;
    color: $foreground_accent;
    border-radius: 50px;
    text-align: center;
}

#start-button-text {
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}


// Because there's a landing, we need to make sure
// for huge screens it doesn't consume it all
#content {
    min-height: 100vh;
}