$max-column-width: 768px;

/* This is a dirty hack that removes any padding and margin defined by the user stylesheet given from Chrome which has fucked up paddings */
* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

@import 'mixins';

// This doesn't really belong here but it's
// used by both heading and content and uses mixins::mobile
.content-width {
    max-width: $max-column-width;
    margin: 12px auto;

    @include mobile {
        margin: 12px;
    }
}

@import 'animations';
@import 'background';
@import 'heading';
@import 'content';