/* This is a dirty hack that removes any padding and margin defined by the user stylesheet given from Chrome which has fucked up paddings */
* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

@import 'colors';
@import 'mobile';
@import 'vendors';
@import 'animations';
@import 'background';
@import 'content';
@import 'heading';