body {
  background-image: url('background.gif');
  background-size: auto auto;
  background-repeat: repeat-x;
  background-color: #00F;
}

nav {
  background-color: #FFF;
  width: 600px;
  margin: auto;
}
