body {
  background-size: auto auto;
  background-repeat: repeat-x;
}

#wrapper {
  width: 1160px;
  margin: auto;
}

.content {
  opacity: 0.9;
  margin: 4px auto;
}

#nav {
  display: block;
  width: auto;
  border-bottom: blueviolet;
  border-bottom-style: double;
  color: blueviolet;
  padding: 16px 0px;
}

#nav-home {
  font-weight: bold;
  text-decoration: none;
  font-size: 400%;
  margin: 0px 36px;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.nav-item-container {
  display: inline-block;
}

.nav-item {
  text-decoration: none;
  font-size: 120%;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  margin: 0px 36px;
}

