body {
	margin: 0px;

	font-family: Arial, Helvetica, sans-serif;
}


#background {
	background-image: url("IMG_20150310_2139453.jpg");
	background-size: cover;

	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;
}

#container {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 9;
	padding: 15%;
}


@media screen and (max-width: 900px) {
	#container {
		padding: 0%;
	}
}

.content_card {
	background-color: rgba(43,38,69, 0.7);
	color: #f3e5ab;
	margin: 64px;
	padding: 48px;
    border: 2px solid;
    border-radius: 25px;
}

@media screen and (max-width: 900px) {
	.content_card {
		margin: 8%;
		padding: 4%;
	}
}

#title {
	text-align: center;
}

a {
	color: #f3e5ab;;
}

#navigation {
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
}

#navigation li {
	display: inline;
	list-style-type: none;
	padding: 12px;
}