/* This is a dirty hack that removes any padding and margin defined by the user stylesheet given from Chrome which has fucked up paddings */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
*[data-fade-in="0s"] {
  -webkit-animation: fadein 4s;
  -moz-animation: fadein 4s;
  -ms-animation: fadein 4s;
  -o-animation: fadein 4s;
  animation: fadein 4s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

*[data-fade-in="0.5s"] {
  -webkit-animation: fadein 4s;
  -moz-animation: fadein 4s;
  -ms-animation: fadein 4s;
  -o-animation: fadein 4s;
  animation: fadein 4s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

*[data-fade-in="1s"] {
  -webkit-animation: fadein 4s;
  -moz-animation: fadein 4s;
  -ms-animation: fadein 4s;
  -o-animation: fadein 4s;
  animation: fadein 4s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

html, body {
  overflow-x: hidden; }

#background {
  background-image: url("IMG_20150310_2139456.jpg");
  background-color: black;
  background-size: cover;
  background-position: center;
  -webkit-filter: brightness(60%);
  z-index: -1;
  /* We will position our view to be slightly over the edge by 10vmin */
  position: fixed;
  width: 100.1vw;
  height: 200.2vw;
  left: -0.05vw;
  top: -0.1vw; }
  @media (max-width: 767px) {
    #background {
      -webkit-filter: brightness(60%); } }

.content-width, .content_card, #title {
  max-width: 768px;
  margin: 12px auto; }
  @media (max-width: 767px) {
    .content-width, .content_card, #title {
      margin: 12px; } }

.content_card {
  color: #AFC1D6;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 2px; }
  .content_card:hover {
    background-color: rgba(0, 0, 0, 0.9);
    transition: background-color 0.5s ease-in-out; }

.content_card_inner {
  padding: 32px; }
  .content_card_inner h2 {
    color: #8BA5C3;
    text-decoration: underline; }

a {
  color: peachpuff;
  text-decoration: none; }

#navigation {
  text-align: center; }

#navigation li {
  display: inline-block;
  list-style-type: none; }

li {
  margin: 12px;
  margin-left: 18px; }

p {
  margin-top: 12px;
  margin-bottom: 12px; }

#title_container {
  width: 100%;
  background-color: black;
  display: inline-block;
  text-align: center; }

#title {
  width: 100%;
  display: inline-block;
  text-align: center; }
  @media (max-width: 480px) {
    #title {
      margin: auto; } }

.header {
  color: #AFC1D6;
  text-align: left; }

#my_face {
  float: left;
  background-image: url("./my_face_2.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin: 12px;
  width: 20vh;
  height: 20vh;
  max-width: 100px;
  max-height: 100px;
  display: inline-block; }
  @media (max-width: 480px) {
    #my_face {
      float: none; } }

.header_text {
  float: left;
  margin: 12px;
  text-align: left; }
  @media (max-width: 480px) {
    .header_text {
      float: none;
      text-align: center; } }
  .header_text #my_name {
    height: 12vh;
    max-height: 60px; }
  .header_text #my_title {
    height: 8vh;
    max-height: 40px; }

/*# sourceMappingURL=main.css.map */
